#Guess{
    font-size: 300%;
    position: absolute;
    margin-left: 45%;
    top: 35%;
}

#underline{
    font-size: 300%;
    position: absolute;
    margin-left: 45%;
    top: 35%;
}

#categories{
    position: absolute;
    top: 7%;
    margin-left: 11%;
}

#word{
    position: absolute;
    top: 7%;
    margin-left: 20%;
}

#myButton{
    font-size: 200%;
    padding: 10px 24px;
    position: absolute;
    margin-left: 2%;
    background-color: saddlebrown;
    color: beige;
}

#myButton:hover{
    background-color: beige;
    color: saddlebrown;
}

#aButton{
    position: absolute;
    top: 15%;
    margin-left: 8%;
}

#letter{
    position: absolute;
    margin-left: 4.5%;
    top: 15%;
}

#guessesLeft{
    border: 2px black;
    position: absolute;
    margin-left: 40%;
    top: 30%;
}

#Ltaker{
    font-size: 250%;
    position: absolute;
    margin-left: 30%;
    top: 50%;
}

#Phatdub{
    font-size: 250%;
    position: absolute;
    margin-left: 30%;
    top: 50%;
}

#playAgain{
    font-size: 150%;
    position: absolute;
    margin-left: 50%;
    top: 70%;
}
#image{
    position: absolute;
    margin-left: 25%;
    top: 60%;
}

#title{
    font-size: 300%;
    position: absolute;
    top: 5%;
    margin-left: 39%;
}

#instructions{
    font-size: 150%;
    position: absolute;
    top: 13%;
    margin-left: 38.5%;
}